<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team98">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/><!-- 인터넷 권한 선언-->
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBMJpmRBhIhIVY8RPVoXXTeOu-l_Xjkv_g"/>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Catlistactivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".CameraActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LoginResult" />
        <activity android:name=".PopupActivity" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".WritePostActivity"></activity>
        <activity android:name=".postactivity"></activity>
        <activity android:name=".GalleryActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Notifyactivity" android:theme="@android:style/Theme.Dialog"></activity>

        <provider
            android:authorities="com.example.team98"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />


        </provider>
    </application>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

</manifest>